@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* ::selection {
  color: black;
  background: #5559d8;
} */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}

html {
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari, Chrome */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Standard syntax */
}

.header {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 1.046vh;
    z-index: 100;
}

.header-content {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation {
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 3000;
	justify-content: space-evenly;
	white-space: nowrap;
  border-radius: 5px;
  word-wrap: break-word;
  flex-direction: row;
}

.header-navigation a.navigation-item {
	list-style-type: none;
	display: inline-block !important;
	text-align: center;
	padding: 0px 30px;
  background-size: 100%;
  color: white;
  border-left: 3px solid rgba(255, 255, 255, 0.3);
  margin-right: 0.8%;
}

a {
	text-decoration: none;
}

.addseparator {
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}


.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6.347vh;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: url("bg.jpg") no-repeat center center;
    color: white;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
    position: relative;
}

.content {
	padding: 10.347vw 10.347vw 10.347vw 10.347vw;
}

.mobile-navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.mobile-navigation-bar .header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navigation a.navigation-item.mobile-border {
border-left: none;
}

img {
max-width: 100%;
height: auto;
}

.footer {
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 30%;
    color: grey;
    transition: color 0.5s;
}

.footer:hover {
	color: white;
}

a.whitify {
	color: white;
}

.sams331 {
font-size: 8.506vh;
}

span.separator {
border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

hr.separator-line {
  border: 0; /* Removes the default 3D border */
  border-top: 2px solid #ccc; /* Sets a solid top border (the visible line) */
  margin: 20px 0; /* Adds vertical spacing above and below */
  height: 0; /* Ensures no extra height is added by the element itself */
  width: 98%;
  
}

.contentTitle::before {
	content: "› "
}

.photo-credit {
    justify-content: left;
    text-align: left;
    width: 30%;
    color: grey;
}
